     body {
        background-color: #f8f9fa;
      }
      .container {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
        border: 1px solid #ddd;
        background-color: #d3d3d3;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }
      .form-group {
        margin-bottom: 20px;
      }
      .form-group label {
        font-weight: 600;
      }
      .form-group input[type="text"],
      .form-group input[type="password"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 3px;
        outline: none;

      }
      .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #45a049;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 3px;
      }
      .btn:hover {
        opacity: 0.8;
      }
      h2{
        background-color: #45a049;
         font-family: areal;
         border-radius: 5px;
        color: white;
        display: inline-block;
        padding: 10px 20px;
        margin-left: 120px;
        

      }
table{
  border-collapse: separate;
  border-spacing: 0 15px;
  text-align:center;
}
h1{
  font-size: 30px;
  font-family: areal;
  border-radius: 5px;
    padding: 10px 20px;
  background-color: #45a049;
        color: white;
        display: inline-block;

}
.card-body{
  text-align: center;
}